{% extends 'wishcamps/base.html' %}


{% block content %}


        <!-- Content Row -->
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Who is your target market?  </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                The camp will be divided into two groups, aged 10-12, and 13-15. We will target the parents as they will be the ones experiencing the dependency the most. Furthermore, they will be the ones financing the camp. For the first group, we will target the parents more. However, for the second group, we will target more towards the parents and the youths.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Where you will be located at?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
The camp will be at Sembawang. The location is called Camp Challenge. Camp challenge is a campsite specially designed for camps. It’ll therefore have the right resources and facilities for us to utilise. We will be working close with Camp Challenge as all the camps will be held there. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much is the camp? </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                It will be $299.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How often are camps organised?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                There will be camps every week during the holidays, for both secondary and primary school students.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

{% endblock %}